<!DOCTYPE html>
<html>
  <head>
    <% include ../include/head %>
  </head>
  <body>
    <h1>My Todo List</h1>
    <header>
    </header>
    <div class="posts">
      Hello world!!
    </div>
    <footer>
    </footer>
  </body>
</html>
