<!-- views/include/head.ejs -->

<meta charset="utf-8">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/normalize.css">
<link rel="stylesheet" href="../../css/master.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!--[if lte IE 8]>
  <script language='javascript'>
    document.createElement('footer');
    document.createElement('header');
  </script>
<![endif]-->
<script language='javascript'>
<!--
$(function(){
  alert();
});
-->
</script>
<title>My Homepage</title>
