<!DOCTYPE html>
<html>
  <head>
    <% include ../include/head %>
  </head>
  <body>
    <h1>My User New</h1>
    <header>
    </header>
    <div class="buttons">
      <button class="float_left" onclick="location.href='/'">Home</button>
      <button class="float_left" onclick="location.href='/user/userList'">List</button>
    </div>
    <div class="posts">
      Hello world!!
    </div>
    <footer>
    </footer>
  </body>
</html>
